.mainDash
{
    
    display: grid;
    place-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.profarea
{
    background-color: white;
    width: 60%;
    padding: 3%;
    margin: 2%;
    display: grid;
    place-items: center;
}
.fields
{
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    gap: 0.2rem;
    width: 60%;
}
.inp
{
    height: 40%;
    width: 100%;
    border: none;
    
}