.header
{
    /* position:absolute; */
    width:100%;
    height:13vh;
    background-color:#5bb5c4;
    color: white;
    font-size: 60%;
    display: grid;
    /* place-items: start; */
    grid-template-columns:0.1fr 1fr;
    place-items:center;
    
    
    
}
.navtitle
{
    display: grid;
    
    gap: 0;
    /* grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr; */
    margin: 5%;
}

.navtitle div h3,.navtitle div h2
{
    display: grid;
    place-items:start;
    font-family:monospace;
    width: fit-content;
    height: fit-content;
    margin: 0;
}
/* .navtitle div 
{
    margin-bottom:8%;
    margin-top: 5%;
} */
.navtitle h2
{
    text-transform: capitalize;
}
.htitle
{
    margin-left: 1rem;
    /* width: fit-content; */

}
.htitlediv
{
    display: grid;
    place-items: start;
    width: 100%;
    
}

/* ++++++++++++++++++++++++++++(Hamburger) +++++++++++++++++++++++++++++*/
.hamburger
{
    margin: 5px;

}
.line {
    line-height: 80px;
    color: black;

}

.hamburger .line {
    width: 50px;
    height: 5px;
    background-color: white;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.hamburger:hover {
    cursor: pointer;

}



.isactive .line:nth-child(2) {
    opacity: 0;
}

.isactive .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

.isactive .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}
/* .isActive
{
    transform: translateX(400%);
    display: block;
} */
/* ************************************************************************  */

.sidebar
{
    width: 25vw;
    height: 85vh;
    background-color: white;
    padding-top: 2vh;
    position: absolute;
    left: -100%;
    /* z-index: -1; */
    transition: 0.6s ease-in-out left;
    /* transform: translateX(-100%); */
    /* display: none; */
    z-index: 5;
}
.sidebar a
{
    color: black;
}

.sidetext ul li 
{
    
    list-style: none;
    font-weight: 500;
    /* font-size: 1.3rem; */
    display: grid;
    place-items: center;
    margin: 0 1%;
    
}
.sidebar ul li a
{
    padding: 2% 0;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    
    place-items: center;
    transition: 0.2s ease-in all;
    


}
.tabs
{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns:50px 1fr;
}


.sidetext ul li a:hover
{
    color: white;
    border-radius: 20px;
}
.sidebar ul li a:active
{
    display: block;

}
.sidebar ul li a:hover
{
    background-color: rgb(48, 91, 94);
}
.sidebar ul
{
    padding: 0;

}
.sidebar.navactive 
{
    left: 0;
}
.logo
{
    position: absolute;
    bottom: 0;
    display: grid;
    place-items: center;
    /* grid-auto-flow: column; */
    /* grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; */
    width: 100%;
}
.logo::before
{
    content: '.';
    background-color: rgb(198, 194, 194);
    color: white;
    width: 100%;
    height: 5%;
    z-index: 2;
    display: inline-block;
}
.logo h3
{
    color: rgb(16, 123, 165);
    font-weight: 600;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    width: 100%;


}
@media screen and (max-width: 433px) {
    .sidebar
    {
        width: 40vw;
    }
}
@media screen and (max-width: 306px) {
    .header
    {
        font-size: 40%;
    }
}
.userimg
{
    width: 50px;
    height: 50px;
    background: none;
    background-blend-mode:color-burn;
    
}
.userlogo
{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 1.25rem;
   
}
.userlogo h4
{
    margin: 0;
}
.tabs1
{
    font-size: 1rem;

}
.tabs1 li a
{
    padding: 0;
}

.dropdown_cont
{
   
    /* position: absolute; */
    z-index: 6;
    /* transform: translateX(200px); */
    /* left: 300px;
    top: 180px; */
    background-color: white;
    padding: 5% 10%;
    transition: 0.5s ease-in-out all;
    width: 80%;
    background-color: rgb(240, 217, 147);
    
}
.dropdown_cont a
{
    padding: 5px;
    
    
}
.dropdown
{
    position: relative;
}
/* .dropdown:hover .dropdown_cont
{
    display: block;
    z-index: 8;
} */
