.LvHis {
    z-index: -2;
    display: grid;
    place-items: center;
    margin: 1.25rem;
}

.leaveT,
.leaveT td,
.leaveT th {
    border: 3px solid rgb(175, 172, 172);
    border-collapse: collapse;
}

.leaveT td,
.leaveT th {
    padding: 10px;
}

.ReqHead {
    width: 70%;
    border-bottom: 2px solid rgb(209, 204, 204);
}

.kbd {
    /* display: inline-block; */
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    padding: 0.1em 0.7em;
    /* margin: 0 0.2em; */
    /* box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset; */
    background-color: #cbc9c9;
    border-radius: 190px 0px 0px 190px;
    font-size: 90%;
    width: 25%;



}

.skbd {
    display: inline-block;
    width: 100%;

}

.subform {
    width: 100%;
    margin: 2rem 0;



}

.subform input {
    width: 100%;
    font-size: 1rem;
    margin: 0;


}

.subform div {
    margin: 0.5rem 0;
    font-weight: 600;
}

.skbd select {
    width: 93%;
    font-size: 1rem;
    border-radius: 0px;
    outline: 0;
    border-radius: 0px 190px 190px 0px;
}

.subdiv {
    width: 70%;
    display: grid;
    place-items: end;

}

.bn {
    background-color: #190c8d;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    outline: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.3em 0.5em;
    z-index: 0;
    margin-top: 2%;
    transition: 0.3s ease-in-out all;


}

.Tablediv {
    display: grid;
    place-items: center;
}

.bn:hover {
    background-color: none;
    background-image: linear-gradient(to right top, #2f00ff, #007cff, #00b1ff, #00dbff, #00ffe7);
    color: black;
    scale: 1.05;
}
.radiosel label
{
    width: fit-content;
    height: fit-content;
}
.radiosel
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
}
.radiosel div
{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-auto-flow: column;
    grid-template-rows: 1fr;
}
@media (max-width:616px) {

    .leaveT td,
    .leaveT th {
        padding: 0px;
        font-size: 70%;
    }

    .Tablediv table td {
        max-width: 20px;
    }
}

.n1{
    display: none;
}

.n2{
    display: block;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}